.recent-items {
  padding-left: 30px;
}

#product-insert-button {
  margin-left: 30px;
  margin-bottom: 30px;
}

.recent-finish-items {
  padding-left: 30px;
}

.recent-progress-items {
  padding-left: 30px;
}

.contact-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}