
.card-container {
  display: flex;
  flex-wrap: wrap;

  #card-progress-container {
    width: 20rem;
    height: 28rem;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .card-body {

    .card-progress-product-status {
      color: royalblue;
      font-size: 18px;
    }

    .card-progress-product-state {
      color: cornflowerblue;
      font-size: 16px;
    }

    .card-progress-address {
      margin-top: 40px;
      font-size: 14px;
    }

    .card-progress-product {
      margin-top: 40px;
      font-size: 12px;
    }

    .card-progress-category {
      margin-top: 12px;
      font-size: 12px;
    }

    .card-progress-reason {
      margin-top: 30px;
      font-size: 14px;
      color: blue;
    }

    .card-progress-price {
      margin-top: 20px;
      font-size: 12px;
    }
  }

  .card-progress-date {
    text-align: end;
    margin-right: 10px;
    font-size: 12px;
  }

  .card-progress-interest {
    display: flex;
    justify-items: end;
    justify-content: end;
    margin-bottom: 20px;

    .card-progress-interest-button {
      color: black;
      border: none;
      background: none;
      font-size: 10px;
    }

    .card-progress-interest-text {
      text-align: end;
      margin-right: 10px;
      margin-top: 16px;
      font-size: 12px;
    }
  }

  .card-progress-chat-or-delete {
    display: flex;
    text-align: end;
    justify-content: end;
  }
}